[2015-05-15 23:37] rizowski opened #2 "Test ticket from Code Climate"

[2015-05-15 23:37] #2 closed

[2015-07-10 14:38] rizowski opened #3 "eslint/lib/cli usage removal"
lib/cli is considered a non public js file. It isn't meant to be public facing. After some discussion with the creator of ESLint I was able to find another way of processing commands. [github issue](https://github.com/eslint/eslint/issues/2831)

[2015-07-10 14:41] rizowski opened #4 "Options fix"
With the discussion of using the [ESLint options](https://github.com/eslint/eslint/issues/2831) object, I have decided that the options structure is going to need to change a little. The options can still be passed in the same way but the underlying structure is going to be a little different.

Removing the options that eslint has and adding just the options I want.
Still parsing out my tool's spe

[2015-07-12 01:08] rizowski opened #5 "File patterns aren't respected in watch command"
Currently the watch parameter only assumes that `*.js` are the files you want to watch. This needs to be able to take in what ever pattern eslint accepts.

[2015-07-12 03:04] rizowski commented on #3
A lot of this work will go in with #4 options fix.

[2015-08-09 13:42] mastertinner opened #8 "Please support eslint 1.1.0"

[2015-08-09 17:14] rizowski commented on #8
This will be in the 2.0.0 release.

[2015-08-12 16:49] rizowski commented on #8
I actually haven't ran into any problems with using ESLint 1.1.0 so I am going to make a patch and publish just that change. That way people can still use ESW and have the latest changes with ESLint up to 2.0.0

[2015-08-12 18:27] rizowski commented on #8
This was released with [v1.2.5](https://github.com/rizowski/eslint-watch/releases/tag/v1.2.5)

[2015-08-12 18:27] #8 closed

[2015-08-13 11:39] mastertinner commented on #8
Great stuff. Thanks @rizowski !

[2015-08-15 15:04] arronmabrey opened #11 "Easily re-run lint-suite directory while watching"
Maybe this already exists and I didn't see it, but would it be possible to easily re-run the full lint-suite while you are already watching. Perhaps hitting the enter key could trigger a full suite re-run.

[2015-08-15 15:21] rizowski commented on #11
Thanks for suggesting this. Its not currently a feature. I have had the same thought when trying to fix a bunch of errors in various files.

[2015-08-15 21:48] arronmabrey commented on #11
Yup, that is exactly my use case. :-)

In the ruby world there is a project called guard, it's a general file
watcher library, it allowed you to hit the "enter" key and it would re run
everything for you. It was very handy.
On Sat, Aug 15, 2015 at 11:21 AM Colten Rouska <notifications@github.com>
wrote:

[2015-08-17 14:51] rizowski commented on #11
I'll take a look at it. I can't guarantee that I will get to it soon, but it has been on my mind. If you want to you can submit a pull request if I am taking too long to get it in. :smile:

[2015-08-18 06:33] rizowski commented on #3
This has been done by #14

[2015-08-18 06:33] #3 closed

[2015-08-18 16:32] rizowski commented on #5
Fixed with #16

[2015-08-18 16:32] #5 closed

[2015-08-18 17:11] rizowski commented on #4
This is fixed with #14

[2015-08-18 17:11] #4 closed

[2015-08-18 17:13] rizowski opened #17 "iojs has issues with eslint or eslint-watch"
Investigate what might be causing this issue.

<img width="474" alt="screenshot 2015-08-18 11 12 33" src="https://cloud.githubusercontent.com/assets/574835/9337043/1fcdbadc-459a-11e5-9e39-9faaec4512ce.png">

[2015-08-18 19:58] rizowski opened #18 "exit code isn't being passed through when linting fails"

[2015-08-18 22:59] calvinwoo opened #19 "Multiple extensions do not apply to the watcher"
Specifying a single extension works correctly:
```esw -w --ext .js```

However, specifying multiple extensions breaks the watcher:
```esw -w --ext .js,.jsx```

[2015-08-18 23:01] rizowski commented on #19
Do you get the same result when doing `esw -w --ext .js --ext .jsx`?

[2015-08-20 00:25] #17 closed

[2015-08-26 01:00] rizowski commented on #19
Fixed with #23

[2015-08-26 01:00] #19 closed

[2015-08-26 03:58] rizowski commented on #18
Fixed with #24

[2015-08-26 03:58] #18 closed

[2015-08-26 05:29] rizowski commented on #11
@arronmabrey This has been added to PR #25 I will review it tomorrow morning and see if it is still working. If everything checks out, it will be released with 2.0.0.

[2015-08-26 08:56] arronmabrey commented on #11
Awesome work! Thanks!

[2015-08-26 15:37] rizowski commented on #11
This is now been released with 2.0.0

[2015-08-26 15:37] #11 closed

[2015-09-03 19:02] trevordmiller opened #28 "TypeError: undefined is not a function"
Your package is great! I'm just running into one issue: when I run my `npm run dev` script, which uses `npm-run-all` I get a `TypeError: undefined is not a function` error, which is preventing my `lint:watch` script from running. I have done some debugging, and everything works as expected running `npm run lint:watch` by itself, or `npm run dev` without the `lint:watch` command...but I don't know

[2015-09-03 20:08] rizowski commented on #28
Thanks for posting this, I will take a look at it a little later tonight.
As for your P.S. take a look here: https://github.com/eslint/eslint/issues/2513

[2015-09-05 23:54] rizowski opened #29 "Add a flag to turn on full directory lint on every file save"
Idea first presented by: @zack37

While there is a way to trigger a full directory lint while watching ( #11 ); it would be nice to be able to set a flag that overrides the single file lint functionality so you don't have to hit `enter` if you don't want to. ~~This feature may not be a desired thing for older projects that are trying to get into the practice of linting. So this feature should be a

[2015-09-06 00:22] rizowski commented on #28
@trevordmiller Just a bit of digging I found the culprit. As for why it is throwing, it would seem that having npm-run-all run eslint-watch commands in watch mode, messes with `process.stdin` in some way. Maybe because the process is nested within `npm-run-all`, i'm not a 100% sure. But to resolve this I need a little more information, what version of node are you using?

The only thing this will

[2015-09-06 00:25] rizowski commented on #28
@mysticatea This may still be a bug on your side since it seems when `npm-run-all` is running `esw -w` it disables the ability to hit enter and rerun the lint. Look to the above comment for a little context. I'll keep looking into this and see if there is anything I can do. Let me know if you need anything for your side.

[2015-09-06 02:36] trevordmiller commented on #28
@rizowski Thanks for looking into it. Yeah, I'm not sure. Basically, I just want to be able to watch my linting (eslint), tests (mocha), and build (babel) at the same time using npm scripts; the `-w` watch command of the `mocha` and `babel` CLIs both work with the packages I have tried for running multiple commands at once (`npm-run-all` and `parallel-shell`) but I'm not sure why eslint doesn't. I

[2015-09-07 02:25] mysticatea commented on #28
@rizowski Thank you for investing. I have gotten the cause, thanks to your hint. When `npm-run-all` spawns child processes, it's setting `ignore` to stdin. I changed it to `inherit`, then this error disappeared.

@rizowski @trevordmiller I will release fixed version today.
I apologize for wasting your time.

[2015-09-07 02:27] trevordmiller commented on #28
@mysticatea You didn't waste my time - that is great news! Thank you so much :) Thank you @rizowski for your help as well. You both are awesome :+1:

[2015-09-07 02:27] #28 closed

[2015-09-07 03:38] rizowski commented on #28
Awesome. Glad I could help. :smiley:

[2015-09-12 09:45] raine opened #30 "Broken with eslint 1.4.x"
No output when running `esw`.

[2015-09-12 19:24] rizowski opened #31 "Debug Logging"
I want a debug flag that can be set so that additional logging appears.

[2015-09-13 20:07] rizowski commented on #30
Cool. So Good news is I found the problem. Bad news is eslint changed their help text format so the help parser is broken.
<img width="716" alt="screenshot 2015-09-13 14 06 23" src="https://cloud.githubusercontent.com/assets/574835/9838692/c87a3a94-5a20-11e5-9ac4-06361fb0fb76.png">

[2015-09-14 14:46] rizowski commented on #30
I have a fix out for this, however I am going to wait until this issue is resolved https://github.com/eslint/eslint/issues/3792. Then I will push out a fix.

[2015-09-14 14:48] jasonblanchard commented on #30
:+1:

[2015-09-16 21:56] rizowski commented on #30
The only thing holding this up is tests failing on windows for the watcher. Later tonight I will pick this up again. By the end of the day tomorrow, I should be able to get this out for you guys.

[2015-09-17 14:41] #31 closed

[2015-09-17 14:41] #30 closed

[2015-09-17 14:42] jasonblanchard commented on #30
:+1: Thanks a lot for fixing this

[2015-09-17 14:56] rizowski commented on #30
Yeah no problem. Let me know if you see anything else.

[2015-09-17 14:57] rizowski opened #37 "Node 4.0 doesn't work"
Node 4.0 is causing eslint-watch to lint the node directory. This could be caused by nvm on OSX since it is passing a path.

[2015-09-17 15:01] rizowski opened #38 "Improve tests"
Current tests for help are causing a problem on CI. For slow environments such as Appveyor, they are failing because it is taking longer than 5 seconds to resolve. I have not been able to replicate this issue on any local environment.

[2015-09-21 14:08] rizowski commented on #37
This was fixed with the 2.1.1 release.

[2015-09-21 14:08] #37 closed

[2015-09-21 21:58] kentor opened #41 "Some exceptions when running in the background"
package.json:
[code]

shell:
[code]

The watching doesn't work when the process is in the background.

[2015-09-22 00:32] rizowski commented on #41
Hmm I will look into it, the last problem I had like this there was an application that was wrapping stdin which caused it to throw the same error. What version of node are you using?

[2015-09-22 00:40] kentor commented on #41
0.12.7

[2015-09-22 15:13] jacorachan commented on #30
@rizowski I think that there are at least two new rules (second one is not new, but contains some extra settings on 1.4.0) that seems not to be working when using ews:

###### "require-jsdoc": [ 1 ]
[code]
http://eslint.org/docs/rules/require-jsdoc

###### "quote-props": [2, "as-needed", { "keywords": true, "unnecessary": false }],
[code]
http://eslint.org/docs/rules/quote-props

[2015-09-22 16:09] simonvizzini commented on #41
I'm having the exact same problem since I updated eslint-watch today. I use the npm package `parallelshell` to run multiple file watcher at the same time, like this in my package.json:

[code]

This has worked fine in a previous version but as I can see the `keyListener` function in cli.js has only been added recently. One workaround I can think of is to check if `stdin.setRawMode` is available. O

[2015-09-22 17:26] rizowski commented on #41
@simonvizzini  What eslint-watch version were you on before you upgraded?

[2015-09-22 17:32] rizowski commented on #30
@jacorachan Does this only happen when it runs through eslint-watch? Eslint-watch shouldn't be keeping any lint rules from coming through. The only thing Eslint-watch should be changing is the options in the cli help context and adding a few things like the watch command and a few other small things.

Second question: If the above is true, what version of eslint, and eslint-watch are you using?

[2015-09-22 19:37] simonvizzini commented on #41
@rizowski can't check right now but i'm pretty sure it was 1.2.5, seems that the keyListener function has been added in version 2.0.0

[2015-09-23 11:40] jacorachan commented on #30
This is the command I run:
[code]
c:\myApp>esw --v
v0.23.0
c:\myApp>eslint --v
v1.5.0
``

[2015-09-23 14:13] rizowski commented on #30
So the -v for eslint-watch will report the version of eslint it is using. If it returned 0.23.0, then esw is finding an earlier eslint version. If you were an early adopter, esw used to pull in eslint as a dependency. Later versions I made it a peer dependency. I will add an issue for addressing that. In the meantime, what version does it say you are using in either your `package.json` or `npm lis

[2015-09-23 14:13] rizowski opened #42 "create a new -v flag to report the esw version instead of eslint version"

[2015-09-23 14:28] rizowski commented on #41
@simonvizzini Can you run the same esw command with `DEBUG=esw:*` in front and paste the output. For me it runs the watch without the exception.

[2015-09-23 14:51] simonvizzini commented on #41
Sure, here is the output:

[code]

When you say it runs the watch without exception for you, do you mean it works for you even when `stdin`  is wrapped, like in my case with parallelshell? Are you on Linux/Mac or Windows? Because running the esw command normally through the command prompt (I'm on Windows) works fine, it just throws this exception when run through parallelshell. By the way I just c

[2015-09-23 15:53] rizowski commented on #41
I am on a mac right now that I primarily use for dev. I will check when I get home to see if I can get a similar thing to come up. I am pretty sure it will. I'm not a 100% confident that checking if the method is there will fix the issue. But I have a few thoughts on how to approach it. I will poke around it later this evening and iron it out.

[2015-09-23 15:55] rizowski opened #43 "es6 conversion"
I want to get this to be 100% es6. :smile:

[2015-09-24 14:49] rizowski commented on #41
@simonvizzini I should have a fix for you. If you wouldn't mind testing it out to see if it works with your environment that would be great. It's currently on the branch `exceptions`.

[2015-09-24 16:49] kentor commented on #41
@rizowski that works for me

[2015-09-24 16:53] kentor commented on #41
@rizowski hmm, but if I Ctrl+C before it finishes linting, I get the prompt back but the process still runs in the background, until the linting finishes i think

[2015-09-24 17:05] rizowski commented on #41
@kentor I was wondering if that might happen. I'll take another look at it and see what I can do.

[2015-09-25 08:13] jacorachan commented on #30
I had an old version of eslint, some zero point something, and I have just updated. Maybe that can be the reason.

[code]

I will try to cleanup my NPM, and download both eslint, and eslint-watch from scratch. That could be the cause of the problem, maybe for some reason eslint-watch is using my old version that somehow is "cached" in my hard drive... I will try to find myself some more informatio

[2015-09-26 22:17] rizowski commented on #41
@kentor Try the latest changes on the same branch. I moved everything within the keylistener. That should make it so it doesn't set anything up on stdin if the process is being wrapped.

[2015-09-27 05:53] kentor commented on #41
Yeah the latest on `exceptions` seems to be working for me.

[2015-09-28 07:08] simonvizzini commented on #41
Sorry for the late reply, didn't had the chance until now to try it out. I can confirm that the `exceptions` branch works fine for me! Thanks a lot! Any ETA when you will publish a new npm package?

[2015-09-28 14:43] rizowski commented on #41
I am publishing it right now. 2.1.2 should contain the fix. #45 #44

[2015-09-28 14:53] #41 closed

[2015-09-29 05:51] kentor commented on #41
Thanks! :+1:

[2015-10-05 14:55] simonvizzini commented on #41
Hi again, I finally updated all my devDependencies in my package.json and it seems I still have problems with the latest eslint-watch version (2.1.2)

There are no more exceptions regarding the original issue with the keyListener at startup, so in that regard everything seems fine. The initial full-lint runs also fine, but when I change a JS file with some errors in it then nothing happens, no con

[2015-10-05 15:16] rizowski commented on #41
@simonvizzini That seems like an unrelated issue. Can you create an issue for that?

[2015-10-06 08:48] Cordazar opened #46 "Improving quiet flag"
Either the --quiet flag should also mute the esw "Linting:" output or there should be another flag for that purpose.
As it stands now if you have many separate files to lint you fill up the terminal with a long unreadable block of files.

[2015-10-06 13:53] rizowski commented on #46
@Cordazar Thanks for posting this. I wasn't sure it was really helpful or not and have been juggling the idea of throwing it out entirely. I am thinking about pulling the linting message into debug logging.

[2015-10-06 13:58] Cordazar commented on #46
@rizowski That sounds like a good idea, in debug logging you can choose to view it if and when you need it.

[2015-10-09 08:09] simonvizzini opened #47 "2.1.2 does not react to file changes anymore"
Version 1.2.4 worked fine, it was reliably linting files on change. But version 2.1.2 doesn't do anything on file change. I'm on Windows 8.1 x64.

This is my npm script (watching 2 folders):

``"watch:eslint": "esw -w ./ChatUI.JavaScript/src/app ./ChatUI.JavaScript/src/sdk",``

and here is some output with ``DEBUG=esw:*``:

[code]

Let me know if you need additional information, thanks!

[2015-10-09 08:09] simonvizzini commented on #41
Sorry again for the late reply, I'm currently overloaded with work, but have finally created a new issue. Thanks for the help :)

[2015-10-09 14:12] rizowski commented on #47
@simonvizzini If you do esw -v what version does it say? That prints out the eslint version. I don't think eslint is the cause but you never know lol.

[2015-10-09 14:22] rizowski commented on #47
Also can you try saving multiple times and let me know if it picks up the file changes? I have been seeing it not pick up the first save, but after that it continues to lint fine.

[2015-10-09 14:43] simonvizzini commented on #47
esw -v outputs "1.5.1" (just saw that eslint 1.6.0 is out, so I'll give it a try). I tried saving multiple files multiple times, but still no luck. I also just tried to watch just one folder but that doesn't work for me either.

I guess this could be a problem in the `chokidar` module instead. Current version is 1.2.0 (released a week ago) and this version has been installed as a dependency of esl

[2015-10-12 14:36] rizowski commented on #47
Have you tried using 1.2.5 or 1.2.6 for eslint-watch? I am trying to figure out when this was introduced.

[2015-10-14 06:56] Cordazar commented on #47
My findings suggest that something in `watcher.js` messes up the input glob.

Because if I run `esw . -w` or `esw ./ -w` I will get proper linting but not any watcher that works. And if I just run `esw -w` and let it use the default `./` path the watcher works as it should.

I don't have time right now to debug this properly but hopefully this helps narrow down the scope. I also took a quick look

[2015-10-19 13:57] rizowski commented on #47
@simonvizzini @simonvizzini Sorry for the delay in getting this fixed. I have been busy with work and life. I will make an effort this week in getting this resolved.

[2015-10-23 15:55] rizowski commented on #47
@simonvizzini @Cordazar I have a fix out there pending a review. It seems like all the magic that was put into the watcher was unneeded bloat. If you wouldn't mind verifying that the fix works for you, that would be awesome and would help a lot. It's on the branch `watch-fix`. Sorry again for the delay.

[2015-10-23 15:57] rizowski commented on #46
I took out the Linting ... and Watching ... messages since they really are for debugging purposes. This should be in the branch `watch-fix` As soon as #47 is verified as being fixed, this will go out with those changes on version 2.1.3.

[2015-10-23 16:07] rizowski commented on #38
For the 3.0.0 release there should be tests that run EsLint-Watch. There have been a few regressions that have happened over the lifespan of the project.

As for how to do this:
I was thinking we can make a child process run `bin/esw` give it a test directory that should have linting errors. Expect text to appear like `✖ 6 errors (10:03:01 AM)` or `✓ Clean (10:03:49 AM)`. Some of this is testing e

[2015-10-29 15:13] am17torres opened #50 "WARN EPEERINVALID eslint-watch@2.1.2"
I just tried installing the eslint-watch plugin not sure what to make of this. I did notice the devdependencies are out of date.

[code]

[2015-10-29 16:00] rizowski commented on #50
Try running
`npm install -g eslint eslint-watch`
Let me know if it still throws an error.

[2015-10-29 18:23] am17torres commented on #50
Yeah thats strange, I did as you suggested and uninstalled both `eslint` and `eslint-watch` and then ran `npm install -g eslint eslint-watch` and the errors went away.

Thanks for the quick reply. I wonder if npm is aware of this?

[2015-10-29 18:26] #50 closed

[2015-10-30 18:02] rizowski commented on #47
I have released what I had. It should be on version 2.1.3. I had someone test it out and they couldn't reproduce it on their machine.

[2015-10-30 18:02] #47 closed

[2015-10-30 18:02] rizowski commented on #46
This has been release with v2.1.3

[2015-10-30 18:02] #46 closed

[2015-11-04 17:29] simonvizzini commented on #47
Hey @rizowski, so sorry for the late response yet again. As I was getting closer to a deadline, my workload started to increase exponentially :-) But now the dust has almost settled, and I definitely want to keep my node package dependencies up-to-date. I'll update all my node modules in the next couple of days and let you know if everything is okay. Thanks a lot so far and I promise to give feedb

[2015-11-10 18:14] kentor opened #52 "Seems to be sometimes linting files in .git"
Using Node 4.2.1.

I have a directory with

index.js
[code]

package.json
[code]

.eslintrc
[code]

After initiating this directory with git and committing the first commit, if I start watching and I run these commands in another terminal:

[code]

I see

[code]

[2015-11-10 22:29] rizowski commented on #52
Strange... I will take a look at this. There should be a rule checking to see if the path is ignored before it tries to lint it, but maybe that is failing somehow.

[2015-11-12 00:51] rizowski commented on #52
@kentor What OS are you using for this to appear?

[2015-11-12 05:13] kentor commented on #52
osx 10.10.3

here's some logs from `DEBUG=* $(npm bin)/esw -w 2>&1 | tee log`

[code]

[2015-11-16 15:04] rizowski commented on #52
@kentor I pushed up a branch with `.git, node_modules, bower_components` being in the ignore paths. Will you let me know if that fixes your problem? If it does I will push it out as a release.

[2015-11-16 23:09] kentor commented on #52
I think I've been getting it for other directories besides those three, but I would have to do some more extensive testing. I rather we have a proper fix than a bandaid, so I'll do some more testing when I have time.

[2015-11-18 13:23] simonvizzini commented on #47
Hey again! So I finally updated my npm packages and I can confirm that the file watcher now works fine on Windows. Thanks!

[2015-11-18 13:48] rizowski commented on #47
@simonvizzini Good to hear! :smile: Thanks for the update.

[2015-11-23 15:22] #52 closed

[2015-11-23 15:25] rizowski commented on #52
@kentor I just released 2.1.4. Let me know if you see any other problems.

[2015-11-23 20:13] kentor commented on #52
thanks!

[2015-12-15 17:05] rizowski commented on #43
Ran into complications where everything has been converted over to es6. I am trying to satisfy backwards compatibility. For some reason Eslint blows up saying a certain function that has been at the core of the CLIEngine since the start, does not exist. Not sure what is causing that as of yet.

[2016-01-09 07:10] jonathanong opened #58 "specifying cache options prints out all of eslint's options"
[code]

removing the cache options does not show the help info

[2016-01-09 20:03] rizowski commented on #58
Thanks for reporting the issue, I will take a look into why it is doing this.

[2016-01-09 20:08] rizowski commented on #58
Looking at the debug logs for the issue I am thinking it is probably related to the contains method in `arg-parser.js`
https://github.com/rizowski/eslint-watch/blob/master/src/arg-parser.js#L46
It is checking for node and finds it in `"node"_modules/.cache/esw`
@jonathanong Can you try placing the cache somewhere other than node_modules and let me know if you are still seeing the problem?

[2016-01-19 17:17] rizowski commented on #58
@jonathanong I pushed up a fix on the es6 branch that I have open currently. You could try testing that out and see if that problem still occurrs.

[2016-01-21 04:32] #58 closed

[2016-01-21 16:32] rizowski opened #62 "Certain commands throw an invalid option error"
It seems like eslint-watch is parsing out no from the command list that is returned from eslint. These are the commands that seem to error

[code]

[2016-01-21 16:33] rizowski commented on #62
I actually found out that optionator is the one causing this issue.

If you specify an option like so:
[code]

Optionator will invert the boolean to false by setting the option to `--no-color` since you specified default to true.

[2016-01-21 16:37] rizowski opened #63 "Address changes for eslint 2.0.0"
With the 3.0.0 release of eslint-watch I am going to adopt the changes for eslint 2.

[2016-01-21 16:39] rizowski commented on #58
@jonathanong I released a fix for this. Should be out in 2.1.5

[2016-01-26 17:46] #62 closed

[2016-01-27 10:05] calvinwoo opened #66 "Extensions options ignored by watcher"
The extensions option, `esw -w --ext .js,.jsx`, is ignored by the watcher. Instead, it uses the ESLint default, which is `.js`.

[2016-01-27 10:08] calvinwoo commented on #66
I'm planning on looking into this and making a pull request.

[2016-01-27 15:07] rizowski commented on #66
Can you post the version of eslint and eslint-watch you know you are using? Also posting the debug log.

`DEBUG=esw:* esw -w --ext .js,.jsx`

[2016-01-27 18:26] calvinwoo commented on #66
[code]

NodeJS version `4.2.1`, ESLint version `1.10.3`.

As you can see from last couple lines of the debug log, chokidar is detecting all file changes. It runs the linter for the `.js` file, but not for the `.jsx` file.

[2016-01-28 06:59] #66 closed

[2016-01-28 07:03] rizowski commented on #66
@calvinwoo Its been released with version 2.1.7

[2016-01-28 07:22] calvinwoo commented on #66
:beer:

[2016-02-08 23:38] rizowski opened #68 "Look into the plugin architecture for eslint"
Someone thought it might be a good idea to make eslint-watch more of a plugin to eslint. I have played around with the idea before but never really looked into if it would be possible. Knowing how pluggable eslint is now, I would assume this could be possible.

https://twitter.com/reiterative_dev/status/695021487594430464

[2016-02-10 14:24] takajun opened #69 "-c option does not work in watcher"
Node.js@v4.2.2, eslint@1.10.3, eslint-watch@2.1.7

When we use both '-w' and '-c', the initial eslint works fine with config file which is specified in command-line, but the config file looks not be used when the watching file is changed.

[code]
File saved without changes.
[code]

I used the following files.
`z:\.eslintrc.json`:
`{
  "rules": {
    "no-extra-semi": 1
  }
}`

`z:\conf\.eslintrc.js

[2016-02-10 14:59] rizowski commented on #69
Thanks for submitting this. I'll take a look at this in a few hours and post my resolutions here.

[2016-02-10 18:45] #68 closed

[2016-02-16 03:34] #38 closed

[2016-02-17 17:32] rizowski opened #72 "All configuration params need to be passed along to the watcher."
There have been various issues around parameters not being passed along to the watcher.
#69 #66

Once this is completed there should be an implementation in place to set any config values that the CLIEngine might need to be customized.

[2016-02-22 17:51] rizowski commented on #69
@takajun Let me know if you see any more issues with the latest version.

[2016-02-23 04:31] takajun commented on #69
@rizowski Thank you for your work!
But, unfortunately I got the same result on the same test scenario with eslint-watch@2.1.8.
i.e. `conf/.eslintrc.json` is used for the initial lint, but `.eslintrc.json` is used for the lint on the watching task.

Node.js@v4.3.1, eslint@1.10.3, eslint-watch@2.1.8
[code]

File saved without changes.
[code]

[2016-02-23 15:03] rizowski commented on #69
:confused: Hmm That's strange... I will do a little more testing to see what might be up. It could be something on my end, I was having some issues with `npm link`. I'll keep you updated.

[2016-02-23 16:50] rizowski opened #74 "Eslint-watch defaults to local eslint"
Found a problem where eslint-watch is expecting you to have it as a dependency.

Solutions:
  - Don't use spawn and use exec
  - Determine if local eslint exists and if it doesn't try global. If neither exist blow up with grace.

Problems:
  - child_process.exec is used differently in different versions of node 5 doesn't require a callback whereas 0.12 does.
  - determining which eslint to use (gl

[2016-02-23 17:39] rizowski commented on #69
@takajun Will you try this branch out before I pull it in just to make sure it works on your machine: `watch-lint-fix`.

[2016-02-24 03:56] takajun commented on #69
@rizowski  Works fine in this time!

[2016-02-24 14:59] rizowski commented on #69
@takajun Cool, I will be sure to have this released before the end of the day.

[2016-02-24 17:35] #69 closed

[2016-02-24 17:43] #74 closed

[2016-02-24 17:43] rizowski commented on #69
2.1.9 should contain the fix for `-c`

[2016-02-25 21:15] rizowski commented on #72
Fixed with the 2.1.10

[2016-02-25 21:15] #72 closed

[2016-02-25 22:41] rizowski commented on #63
This was resolved with v2.1.10

[2016-02-25 22:41] #63 closed

[2016-03-11 05:49] isTravis commented on #29
:+1: to this enhancement.

[2016-03-11 21:55] isTravis opened #78 "No warning for .eslintignore files"
Hi! Great project - thanks so much for putting this together!

For a few reasons we have a big .eslintignore file. Every time we start eslint-watch we get a long list of warning messages saying `File ignored because of your .eslintignore file. Use --no-ignore to override`.

It doesn't quite feel like the type of thing I would want to be warned about (but perhaps some people do).

Any chance for a

[2016-03-11 22:50] rizowski commented on #78
@isTravis Thanks for the suggestion!

Before I go into the code and add an option for overriding the message, do you have an example as to what is causing the message to appear? I only ask because sometimes features such as these, while useful, aren't as easy to implement for this project. This may be a bug with eslint-watch as I have seen this happen before in certain cases.

So what I need is:

[2016-03-11 23:26] isTravis commented on #78
Doh. This isn't an eslint-watch issue - you're right. This hadn't occurred in my previous eslint setup (linting through webpack), so I assumed it was the new eslint-watch package I was using. Apologies!

Digging into it, I found this [http://eslint.org/docs/user-guide/configuring#ignored-file-warnings](http://eslint.org/docs/user-guide/configuring#ignored-file-warnings).

The problem was that I wa

[2016-03-11 23:26] #78 closed

[2016-03-11 23:51] rizowski commented on #78
Haha no problem.

[2016-03-20 00:55] takajun opened #79 "'-w' does not work on eslint-watch@2.1.10"
We always thank for your great work.

I upgraded eslint-watch from 2.1.7 to 2.1.10 under windows to use eslint>2.0.0, then got the error with '-w' option.
Could you check it?
eslint-watch@2.1.10, eslint@2.4.0 or eslint@1.10.3

[code]

[2016-03-22 15:20] rizowski commented on #79
@takajun I haven't been able to reproduce this error locally. I have seen a few things around `EINVAL` being related to cygwin. What terminal do you use?

This is what I get when I run the command:
[code]

[2016-03-25 08:55] takajun commented on #79
@rizowski I use Windows's CommandPrompt as terminal. And I also don't see any error without '-w' option. Just only with '-w' option.
I tried the following:
Windows7 64bit, node v4.4.0: newly npm install eslint-watch, and I got the error the above.
Windows10 64bit(anotherPC), node v4.4.0: newly npm install eslint-watch, and no error.

This issue may be caused by my PC condition/setting, but I don't

[2016-03-29 03:26] takajun commented on #79
I found this issue was caused by chokidar and Windows RAM disk.
When I run eslint-watch on the hard disk, it works perfectly. This is NOT eslint-watch issue.
So I close. Thank you for your effort.

[2016-03-29 03:26] #79 closed

[2016-04-12 06:46] jeron-diovis commented on #29
+1, waiting for this very much

[2016-04-12 13:55] rizowski commented on #29
Alright, I will begin working on this feature. I cannot guarantee that it will be finished quickly but I will try my best. Thanks @jeron-diovis  and @isTravis for bumping this enhancement.

[2016-04-14 15:22] coryhouse opened #80 "Ctrl+C must be hit twice to kill parallel tasks"
Love this! There's one quirk I'd love to figure out. I'm sending two tasks to the same command line using [npm-run-all](https://www.npmjs.com/package/npm-run-all). When I do, eslint-watch fails to be killed by the first Ctrl+C. I have to hit it twice. This only occurs on Mac. [I created a simple repo to convey the issue](https://github.com/coryhouse/eslint-watch-issue).

It appears the first Ctrl+

[2016-04-15 13:53] rizowski commented on #80
Thanks for posting about this. I will take a look and see what I can dig up.

[2016-05-02 15:35] rivertam opened #81 "Error parsing type '--no-color'"
I'm not specifying any options, but I'm getting this error on `esw`

Node version: v5.10.1
eslint version: v2.9.0

Logs: (ran `DEBUG=* esw`)
[code]

[2016-05-02 15:56] rizowski opened #82 "Eslint-watch is trying to parse --no-color but failing"
Eslint V2.8.0
Eslint-Watch: 2.1.10
[code]

[2016-05-02 16:21] rizowski commented on #82
Closing. Duplicate with https://github.com/rizowski/eslint-watch/issues/81

[2016-05-02 16:21] #82 closed

[2016-05-02 16:22] rizowski commented on #81
@rivertam I noticed this today as well. Thanks for posting.

[2016-05-02 16:23] rizowski commented on #81
This issue most likely resides in the help parser. Formatting or spaces might have changed. It will be the first thing to break since it needs to run before anything else can occur.

[2016-05-02 16:23] rivertam commented on #81
Of course. Thanks for the quick response.

[2016-05-03 16:23] rizowski commented on #81
@rivertam This should be fixed on OSX and Linux. I am currently verifying it is fixed on Windows.
https://github.com/rizowski/eslint-watch/pull/83
Could you please use the ew-81 branch and verify it is also fixed for you?

[2016-05-03 17:21] rivertam commented on #81
Well, I don't really know how to do that, but I did the following:

1. Clone the repo
2. Check out the ew-81 branch
3. Run `npm i -g .` inside the folder
4. Try `esw` in my own repository

and I get
![screen shot 2016-05-03 at 1 21 37 pm](https://cloud.githubusercontent.com/assets/4165105/14991979/fdd795f6-1131-11e6-8789-434d331a2203.png)

[2016-05-03 17:22] rivertam commented on #81
My package.json is specified in /Users/ben/frontend, not /Users/frontend/build/

[2016-05-03 17:31] rizowski commented on #81
Try this

  1. `git clone https://github.com/rizowski/eslint-watch.git -b ew-81`
  2. `npm i && npm link`
  3. CD into the project you saw the error
  4. `esw`

Another way of doing it is specifying it in your `package.json`

[code]
`npm run lint`

[2016-05-03 17:36] rizowski commented on #81
Can you run it with `DEBUG=* esw` so I can see what it is doing?

[2016-05-03 17:49] rizowski commented on #80
@coryhouse I know I have had issues with npm-run-all before. but I'll have to look a little deeper into the issues to find it. Second note, I was looking at the sample project you provided, it doesn't provide the commands you might be running. Do you have two different watching processes running at the same time or anything like that? A little more detail should help figure out what might be going

[2016-05-03 18:02] rivertam commented on #81
![screen shot 2016-05-03 at 2 02 17 pm](https://cloud.githubusercontent.com/assets/4165105/14993199/af6e15a6-1137-11e6-9d2d-261ad71c272a.png)

[2016-05-03 18:49] rizowski commented on #81
@rivertam Do you have any other projects you can test this on?

[2016-05-03 18:56] rivertam commented on #81
@rizowski Hmm, yeah it seems to be working on another repo, but it's not actually watching. Just says "clean" and then exits (not sure if this is normal behavior). I am trying to use this within `frontend` though.

I'd include the debug logs for the "working" repo, but they're insanely long (over 1000 lines long; not sure how much)

[2016-05-03 19:05] rizowski commented on #81
I think for the first project you just need to add an ignore rule for your build folder. It looks like it is trying to lint your build folder, which in my experience I haven't wanted to do since I am either building my assets, minifying code, etc etc.. Is that the case here?

[2016-05-03 19:12] rivertam commented on #81
Ah, yeah, that seems to be the problem. It's still exiting immediately, but that's a PEBKAC error; just forgot to specify `-w` flag haha.

[2016-05-03 19:12] rivertam commented on #81
Thank you!

[2016-05-03 19:20] coryhouse commented on #80
Thanks for the link. I've never seen npm scripts require me to hit Ctrl+C twice to exit. Usually only hitting it once is required. The answer on StackOverflow that mentions that you have to hit it twice is referring to the Node REPL.

[Here's an example script that I'm referring to](https://github.com/coryhouse/react-slingshot/blob/master/package.json#L8). I have to hit Ctrl+C twice to kill that s

[2016-05-03 21:00] rizowski commented on #81
Cool, I am going to pull this in and publish 2.1.11

[2016-05-03 21:13] rizowski commented on #81
2.1.11 has been released:
https://github.com/rizowski/eslint-watch/releases/tag/v2.1.11
https://www.npmjs.com/package/eslint-watch

[2016-05-03 21:13] #81 closed

[2016-05-05 14:51] rizowski commented on #80
@coryhouse  A little update so I can keep you informed. I was messing around with react-slingshot and I noticed that as soon as you saved an asset eslint-watch would exit after picking up the file change event. I hooked up `process.on('SIGINT')` and `process.on('uncaughtException')` to see what might be happening. I have at least found that Eslint is choking with trying to load `eslint-plugin-reac

[2016-05-05 14:56] coryhouse commented on #80
Interesting. When you say "Eslint is choking with trying to load eslint-plugin-react", when is it "choking"?

[2016-05-05 15:04] rizowski commented on #80
It happens after the save. For some context, eslint-watch will spawn an eslint process for grabbing eslint's options and running the first lint. If the watch flag is specified, then it will use eslint's CLI-Engine for further linting.

[2016-05-14 04:58] rizowski commented on #80
Linking https://github.com/rizowski/eslint-watch/issues/28 which also dealt with npm-run-all

[2016-05-31 14:03] coryhouse opened #84 "Paths with spaces aren't supported"
On Windows, if you try running eslint-watch in a path that contains spaces in the name, it will fail to parse the path properly.

Example: https://github.com/coryhouse/react-slingshot/issues/150

[2016-05-31 14:17] rizowski commented on #84
@coryhouse @alvipeo can I get the DEBUG output for the issue?
`set DEBUG=esw:* esw webpack.config.* src tools`

[2016-05-31 14:30] coryhouse commented on #84
Sure thing!

C:\Users\chouse\Documents\Visual Studio 2005\react-slingshot>npm run lint

  esw:eslint-cli Loaded +0ms
  esw:eslint-cli EsLint path: C:\Users\chouse\Documents\Visual Studio 2005\react-slingshot\node_modules\.bin\eslint.cmd +3ms
  esw:eslint-help Loaded +37ms
  esw:options Loaded +30ms
  esw:success-formatter loaded +295ms
  esw:simple-detail loaded +5ms
  esw:watcher Loaded +1ms
  es

[2016-05-31 14:35] rizowski commented on #84
Thank you. Can I also get the eslint version you are using. Looks like I am not able to reproduce it.

[2016-05-31 14:40] coryhouse commented on #84
I'm running eslint 2.9.0. Though I just upgraded to 2.11.1 and it continues to occur. I've confirmed that moving to a directory without spaces resolves the issue.

This line showed me that the space was the issue:

'C:\Users\chouse\Documents\Visual' is not recognized as an internal or external command,
operable program or batch file.

[2016-05-31 14:43] coryhouse commented on #84
I've also confirm this occurs on Windows 7 and 10.

[2016-05-31 14:50] rizowski commented on #84
Got it to throw, thank you.

[2016-05-31 19:45] rizowski commented on #84
It looks like this is going to take a little more work than I initially thought.

[2016-05-31 20:07] coryhouse commented on #84
Thanks for giving it a look! I'm really enjoying eslint-watch in the meantime. I also used it in my Pluralsight course which has already been viewed by 1000's in the last week, so your work is getting a lot of use! :+1:

[2016-05-31 20:39] rizowski commented on #84
Glad it is of use to you! I also appreciate the promo! I will keep you posted on the progress of the issue.

[2016-06-08 14:33] reharik opened #85 "watch exits after file change"
Hi I am running the command
esw . -w
from the root of the project. it runs the lint but when I make a change in a file and go back to console it exits.
Am I doing something wrong?
R

[2016-06-08 14:56] rizowski commented on #85
Thanks for posting an issue @reharik .

Can you run the command with the debug environment variable set. (`DEBUG=* esw -w`) Also I need to know the versions of `eslint`, `eslint-watch`, `npm` and `node` you are using as well as what `OS` you are running it with.

[2016-06-08 15:43] reharik commented on #85
Hey,
So I gto eslint to pass and now it doesn't seem to be exiting, however, I'm going to merge this "eslint branch" into master pretty soon, at which point there will be a ton of errors and I'll probably experience the problem again.  At that point I will inspect the debug out put.
for now I'm using
"eslint": "^2.11.1",
eslint-watch 2.1.11
node 4.4.5
npm 2.15.5
which is strange, not sure why I'm

[2016-06-09 04:03] ejfrancis commented on #29
:+1: this would be great

[2016-06-09 14:54] reharik commented on #85
Hi,
So upon my merge I did have a bunch of errors, but the watch started working.  I did add airbnb and some customization to my eslintrc but I"m not sure what made the watch work again.
I suspect that is unsatisfying from a discovery perspective.  Sorry.
while I got you is there a way to make it reload on focus ( of console ) rather than having to hit return?
Thanks,
Raif

[2016-06-14 13:45] rizowski commented on #85
@reharik Glad to see you were able to get it working. As of right now there isn't a way to get it to relint on console focus. I am not sure if that is even possible.

If you have any other problems, please don't hesitate to open another issue.

[2016-06-14 13:45] #85 closed

[2016-06-21 13:16] coryhouse commented on #84
Hi @rizowski - Any update? I've had quite a few Windows users get bitten by this. The good news is my Pluralsight course and React Slingshot are both getting a lot of traffic so you should be seeing a lot of downloads. :)

[2016-06-21 14:58] rizowski commented on #84
Hey @coryhouse Sorry for the delay. I have messed around with a couple of ideas trying to fix the issue. One of the most common ways to solve the issue is to escape the spaces in the path. I haven't been able to get that to work on windows however. 😞  Let me mess around with this a bit more. I have a little bit of time today that I can work on it. Do you have any suggestions that I could try?

[2016-06-21 20:21] coryhouse commented on #84
While I'm strong in JS, I'm still a noob in creating npm packages. But the other popular npm packages I'm using with React Slingshot are able to handle paths with spaces. For example, Webpack, Babel, and Mocha. I suspect they're using an npm package that handles path issues for them. Perhaps using the same abstraction would take this issue off your hands altogether?

[2016-06-22 15:35] rizowski commented on #84
@coryhouse I was able to figure out a fix; at least on my machine. 😌  Took a bit of work, but I think it should help with future problems. Can you or anyone that has been experiencing this problem test out the version that is on the branch `path-fix` for me? If that can be verified I will push out the fix.

[2016-06-22 16:02] rizowski commented on #80
@coryhouse It might have been possible that I fixed this as well in the `path-fix` branch. Could you verify this for me?

[2016-06-25 18:19] s9tpepper commented on #29
its the first thing that I was looking for after using it for the first time. 👍

[2016-06-27 20:42] coryhouse commented on #80
Unfortunately, this issue persists on the branch. I ran the branch in React Slingshot to confirm.

[2016-06-30 20:10] #84 closed

[2016-06-30 20:13] rizowski opened #87 "Color is missing due to new process of executing eslint. --color re-enables the color"
Using v2.1.12 the color is missing from executing eslint-watch.

The color can be added back in manually specifying the flag `--color`.

Refer to #86 for more information.

[2016-06-30 20:21] coryhouse commented on #84
Just FYI - the new release you just published isn't marked as latest yet in Github.

[2016-06-30 20:42] rizowski commented on #84
@coryhouse it should be now.

[2016-06-30 20:43] rizowski commented on #29
I am going to be gone for a couple of weeks but when I get back I will implement this enhancement. Thanks guys for the 👍

[2016-07-02 12:15] nutgaard opened #88 "Allow peerDependency eslint@3.0.0"

[2016-07-03 15:53] #88 closed

[2016-07-03 17:56] rizowski commented on #88
This should be resolved with version 2.1.13

[2016-07-19 22:10] kellyrmilligan commented on #29
maybe i'm missing something here. a while back I used this and it was great. i'm setting it up again for a new project, and now when I change a file, it is not re-running. is the default behaviour different now?  on every file change, I want to lint the changed file. is this off by default?

[2016-07-19 22:57] kellyrmilligan commented on #29
My bad sorry I forgot the . For the extension. I think -- debug is broken btw.

[2016-07-20 21:07] rizowski commented on #29
@kellyrmilligan Can you explain a little more. It sounds like there might be a bug with default directory linting. Eslint-watch should default to ./ if you don't provide a directory. But also to the full directory lint a really really young version of Eslint-Watch I believe had this feature. It was later changed to do a single file since at the time I was working on a large project with over 20,00

[2016-07-20 22:52] kellyrmilligan commented on #29
Yes sorry, it was all my bad. I had --ext es6 and not .es6, so the full lint worked initially, then. It big afterwords. I tried enabling -- debug but just eventually did DEBUG=* before exciting the command to figure it out and also logging more in the code.

[2016-10-27 15:06] jakery opened #93 "Quiet mode is not enforced on refresh"
Using esw version 3.8.1, I am attempting to run quiet mode. This is correctly enforced upon first run of the command. However, when I change a file, and esw refreshes, quiet mode is no longer enforced; warnings are displayed.

Command:
`node ./node_modules/eslint-watch/bin/esw -w --color --quiet --ignore-path ./.eslintignore`

Initial output:
![before](https://cloud.githubusercontent.com/assets/13

[2016-10-27 15:43] rizowski commented on #93
Thanks for reporting this.

[2016-11-17 14:06] ryannealmes opened #94 "eslint-watch doesn't work with docker-compose"
I have been trying to get my front-end working on docker for the past day and I have narrowed down some irregular behaviour to eslint-watch and docker.

I have recreated a minimal working [repo](https://github.com/ryannealmes/eslint-watch-bug-replica) of the bug I am experiencing.

It seems that linting is somehow staggered when using docker-compose (`docker-compose up` specifically, `docker-compo

[2016-11-17 14:24] rizowski commented on #94
Hey @ryannealmes I am just getting set up for the day. I'll take a look at it in a few minutes and tell you what I think. Thanks for posting this.

[2016-11-17 14:40] ryannealmes commented on #94
Thanks. Happy to help out.

[2016-11-17 14:47] rizowski commented on #94
Ok, so just a couple things. The computer I am testing this on I just installed docker. But, something I noticed was that it was linting "unexpected token abc" Is that the error you were speaking of that keeps appearing? If that is the case, there isn't a rule in the `.eslintrc` for es6. After that, it seems like the linting works as intended.

[2016-11-17 14:55] rizowski commented on #93
@jakery Just an update to this, I remember when I first built the tool I made warnings show on watch because we had a ton of single/double quote warnings in files and we wanted to fix them eventually. I can see a case however where you would want to disable that.

I haven't been able to sit down to code out the fix. I did, however, read more into the cli.engine for eslint to see if they allowed fo

[2016-11-17 14:57] ryannealmes commented on #94
Hmm it's difficult to explain this issue.

The errors coming through on the linter are perfect. The problem is when do they come through. They are staggered.

Let's say you change the name of variable `abc` to `zzzz` you would expect your linter to run. It does run, but it prints out the previous error message.

So I make a change and I get the following error

[code]

But the variable has been ch

[2016-11-17 15:02] ryannealmes commented on #94
To your point, I am expecting that behaviour. That is what eslint-watcher should be printing out. I am not testing linting rules, I am just trying to get things working with docker. The linter runs perfectly, but when using docker it's staggered.

[2016-11-17 15:02] rizowski commented on #94
Gotcha.
This is following the exact steps that you just said:
[code]

[2016-11-17 15:03] rizowski commented on #94
I changed it 3 different times and each time it linted the variable as I was expecting it to. Doesn't seem to be staggered. What docker version are you using? I am on a mac using docker for mac.

[2016-11-17 15:06] ryannealmes commented on #94
You are only saving once correct?

These are my versions.

Docker version 1.12.3, build 6b644ec
docker-compose version 1.8.1, build 878cff1
docker-machine version 0.8.2, build e18a919

Lol I want to rage!

[2016-11-17 15:08] ryannealmes commented on #94
What versions are you using?

[2016-11-17 15:09] rizowski commented on #94
Been there. haha
Yeah, I am only saving once.

Docker version 1.12.3, build 6b644ec
docker-compose version 1.8.1, build 878cff1
docker-machine version 0.8.2, build e18a919

Are you on a mac? Or should I remote into my window machine and try it there?

[2016-11-17 15:10] ryannealmes commented on #94
No I am on a Mac El Capitan - 10.11.6.

Any suggestions?

[2016-11-17 15:13] rizowski commented on #94
I am as well...

The only thing that comes to mind is, have you tried blowing away your images and building it from the ground up? That seems to be the only difference between our machines.

[2016-11-17 15:14] ryannealmes commented on #94
Ye I have recreated the images a couple of times, but let me maybe try wipe docker and reinstall it. Man docker is meant to make things easier :/

Thanks I will let you know how it goes.

[2016-11-17 15:49] ryannealmes commented on #94
@rizowski ... and the plot thickens. Let me guess, you aren't using iterm are you?

It seems things work fine in the mac terminal, but in iterm2 I can replicate the bug.

[2016-11-17 15:56] ryannealmes commented on #94
Yay I just fixed it!!!!!

I was using iTerm2 3.0.9. It seems in iTerm2 3.0.12 (OS 10.8+) this bug is fixed. It would be great to know why, but honestly after almost 2 days I think I deserve a break. The change logs don't say anything.

Anyway hopefully this helps someone else down the line.

[2016-11-17 16:01] rizowski commented on #94
Haha I was using iTerm 2 v3.0.12 to test it out.
Glad you were able to figure out the issue. Strange that it was the terminal causing the issue.

[2016-11-17 16:02] #94 closed

[2016-11-21 15:10] rizowski commented on #80
@coryhouse I took another swing at this on Friday and tried to figure out what might be the cause. I think it may be two things. It's possible I am not shutting down other libraries correctly (Chokidar keypress) and they are holding onto the process. Or it's possible there may be a problem with parallel tasks with npm-run-all. Eslint-watch exits just fine if there isn't anything else running along

[2016-11-21 15:14] coryhouse commented on #80
Thanks for digging further! 👍 Appreciate your hard work and the update.

[2016-12-28 10:22] wklc2014 opened #95 "command line is do twice?"
![image](https://cloud.githubusercontent.com/assets/7589922/21519718/5adc726c-cd2a-11e6-816f-90d4f9edbe4d.png)

`esw -w`
It check twice?

[2016-12-30 22:34] rizowski commented on #95
@wklc2014 Do you have anything else running? (ex. Webpack)

[2017-01-06 17:54] rizowski opened #97 "Specifying formatters other than simple-detail returns null"
[code]

[2017-01-06 17:55] rizowski commented on #97
Running eslint with the same arguements does not produce the same result:

[code]

[2017-01-06 18:11] rizowski opened #98 "Restructure: Settings"
Make the settings be accessible via require/import. This will allow them to be imported (required) without needing them to be passed around. Other workflow items such as parsing and executing eslint will still need to pass around input and other such configuration. Eslint-Watch internal settings, however, do not.

[2017-02-10 15:47] cbacon91 commented on #29
This is a very required feature and would please me greatly 👍

[2017-02-10 20:40] #87 closed

[2017-02-12 22:34] #93 closed

[2017-02-12 22:44] rizowski commented on #95
With no additional information I am closing this issue.

[2017-02-12 22:44] #95 closed

[2017-02-12 22:45] rizowski commented on #29
This issue is now in master awaiting a release

[2017-02-12 22:45] #29 closed

[2017-02-12 22:52] #42 closed

[2017-02-12 22:52] #98 closed

[2017-02-12 22:55] rizowski commented on #43
This is currently in progress and will continue as improvements are made to the project.

[2017-02-12 22:55] #43 closed

[2017-02-12 23:10] rizowski commented on #97
There might have been a change in the way formatter contracts are defined. I'll need to check the source code/api documentation to verify as eslint-watch is passing the correct path to eslint so it should be picking up the formatter function

[2017-02-13 19:32] rizowski commented on #97
It seems like the formatting hasn't changed. There is another underlying problem.
http://eslint.org/docs/developer-guide/working-with-custom-formatters

[2017-02-15 03:59] rizowski commented on #97
This doesn't seem to be an issue anymore... The paths are being passed correctly and the results are being displayed properly. I no longer find `null` being returned when running the formatter command.

[2017-02-15 03:59] #97 closed

[2017-02-15 16:42] rizowski commented on #80
@coryhouse I've done several fixes for the project in general and I came back to this issue to see if there was something else I could do. I ended up messing around with passing `SIGINT` `SIGKILL` and even tried doing `process.abort()`. I took pictures of the results:

Here is the logs with `npm start` being called on react-slingshot, eslint-watch process id being 17677:
<img width="355" alt="proc

[2017-02-15 17:00] coryhouse commented on #80
Tricky business! Thanks so much for digging in and for the update!

[2017-02-15 19:09] rizowski commented on #80
@coryhouse You are using windows correct?

[2017-02-15 19:12] coryhouse commented on #80
I use both. Especially important since I author JavaScript courses for people on all platforms. :) Same story with the React Slingshot project I mentioned which is one example of where this issue is occurring. Thanks again for investigating!

[2017-02-16 15:27] rizowski commented on #80
I am going to remove this from the 3.0 milestone and release the changes that have been made so far. I am hoping to get this fixed soon.

[2017-02-22 07:28] yedidyak opened #107 "Eslint plugins in local node_modules"
Hi,

In my project, the .eslintrc file is used across projects, and so is in a dependency. It references other custom lint configs and plugins, all peer dependencies.

If I use `esw -c node_modules/#DEPENDENCY/.eslintrc --color src --watch` it runs fine. However, as soon as a file changes, I get this:

[code]

If I install all the plugins to the global node_modules, it works. It seems to only find

[2017-03-02 06:07] glebec opened #108 "Formatter reverts from 3rd party module to simple-detail during watch"
### Environment

  - Node Version: 7.7.0
  - Eslint-Watch Version: 3.0.0
  - Eslint Version: 3.15.0

### Basic Description of the problem

ESLint watch seems to "forget" which formatter to use. I am trying to set the formatter to Sindre Sorhus's nice https://github.com/sindresorhus/eslint-formatter-pretty. It's a slightly different version of the `simple-detail` formatter baked into `esw`, based o

[2017-03-02 06:11] rizowski commented on #108
@glebec Thanks for reporting this. Run the command with `DEBUG=esw:*` That should be all the debugging I need.

[2017-03-02 06:18] glebec commented on #108
Here you go:

<details><summary>Click for debug output</summary></summary><p>

---
esw:internal-settings Eslint installed locally node_modules/.bin/eslint +0ms
  esw:internal-settings { eslintPath: 'node_modules/.bin/eslint',
  esw:internal-settings   platform: 'darwin',
  esw:internal-settings   isWindows: false } +2ms
  esw:eslint-cli Loaded +40ms
  esw:eslint-help Loaded +19ms
  esw:options Loa

[2017-03-02 06:29] rizowski commented on #108
This is a bug. The watcher portion of ESW has it hard coded.

https://github.com/rizowski/eslint-watch/blob/v3.0.0/src/watcher.js#L7
https://github.com/rizowski/eslint-watch/blob/v3.0.0/src/watcher.js#L65

[2017-03-02 07:43] glebec commented on #108
Thanks @rizowski. BTW, if you support 3rd-party linters in watch mode, it would be nice (albeit not critical) to somehow still output the `✔ clean` report for when linting succeeds with no warnings or errors.

[2017-03-03 17:48] rizowski commented on #108
A Fix was merged into master. I have a few things I am going to add with this release and publish the fix.

[2017-03-05 00:08] rizowski commented on #108
This has been released with [v3.0.1](https://github.com/rizowski/eslint-watch/releases/tag/v3.0.1)

[2017-03-05 00:08] #108 closed

[2017-04-08 21:32] svicalifornia opened #110 "Clear terminal on each eslint run?"
Is there an option to clear the Terminal each time eslint is run, to show only the results of the last run?

[2017-04-10 14:53] rizowski commented on #110
@svicalifornia Thanks for the PR and this request. I'll get to it ASAP

[2017-04-10 19:48] FWoelffel commented on #107
Shouldn't this be considered a bug?

[2017-04-10 21:50] rizowski commented on #107
@FWoelffel since the issue was closed by @yedidyak  in less than 10 minutes I figured it wasn't a bug.

[2017-04-11 14:50] rizowski commented on #107
@FWoelffel can you send me the debug logs?
`DEBUG=esw:* esw ...`

[2017-04-11 17:08] FWoelffel commented on #107
First:
[code]

(eslint-watch is globally installed and eslint is locally installed.)

Here is my command line:
[code]
and the ouput:
[code]

Yesterday I had eslint globally and locally. It looked like the first pass was using the locally installed eslint and the next passes were using the globally eslint which wasn't itself able to find a eslint rules module locally installed.

[2017-04-12 20:35] rizowski commented on #107
@FWoelffel I will investigate the issue. Might take me a bit. But if you end up figuring it out I am always open to PRs. I try to address any PRs as quickly as possible.

[2017-04-12 21:49] rizowski commented on #110
This has been released with[ V3.1.0](https://github.com/rizowski/eslint-watch/releases/tag/v3.1.0)

[2017-04-12 21:49] #110 closed

[2017-04-25 13:24] svicalifornia opened #113 "Feature Request: Run only on files that are "dirty""
The current single-file mode of eslint-watch only runs on the last file that was saved. This hides errors/warnings on other files that may have been overlooked on previous eslint runs/iterations.

It would be much better to have a mode wherein eslint-watch would parse the results of each run, cache a list of the files with errors/warnings, and include those files in its next run, along with any fi

[2017-04-25 15:24] rizowski commented on #113
@svicalifornia Thanks for the issue.

This is an interesting idea but I see it being similar to just running eslint-watch without the `--changed` flag. (It's possible I am missing important differences here. 😄 ) What would this be doing differently in short of `esw --watch` ? If it is speed you are trying to solve, why is `--cached` not acceptable? I am looking for a use case that you are running

[2017-04-26 15:38] svicalifornia commented on #113
Ah… yes, the motivation was speed, and `--cache` does work pretty well. Closing this issue.

[2017-04-26 15:38] #113 closed

[2017-05-12 20:56] lucasfolino opened #114 "Fails to run on Windows when eslint is installed globally."
### Environment

  - Node Version: v6.10.3
  - Eslint-Watch Version: 3.10
  - Eslint Version: 3.19.0

### Basic Description of the problem
When running esw I get that eslint-watch cannot find eslint.  The command esw will not run at all even with -h, --esw-version.

### How to reproduce it

  1. Command: `esw ...`
  2. ...

### Debug output:

[code]

[2017-05-12 21:07] rizowski commented on #114
@lucasfolino Thanks for reporting this. I need the debug output to understand more of the problem. Can you re-run the command with the environment variable `DEBUG` set to `esw:*` and paste the output?

[2017-05-15 12:42] lucasfolino commented on #114
Here is the output of DEBUG turned on.  It seems to be a path issues.  I have tried removing and re-adding eslint.  Not sure if it would be possible or difficult to add an eslint path config in either the cli switch or config file.

esw : Mon, 15 May 2017 12:39:39 GMT esw:internal-settings Error: ENOENT: no such file or directory, access
'C:\Users\<username>\node_modules\.bin\eslint.cmd'
At line:1

[2017-05-15 13:24] rizowski commented on #114
@lucasfolino Hmm, ok, can you give me the node and npm version you are using? Am I assuming you are using the latest version for ESW?

[2017-05-15 13:25] rizowski commented on #114
@lucasfolino Can you give me the npm version you have too?

[2017-05-15 13:35] lucasfolino commented on #114
Node: 6.10.3
NPM: 3.10.10

Yeah everything is the latest.  This is a new setup.

[2017-05-15 13:38] rizowski commented on #114
Hmm I re-ran a build to see if it was something new my tests could have caught. But they all passed.
https://ci.appveyor.com/project/rizowski/eslint-watch/build/107
Let me try installing this on my windows box and I will get back to you.

[2017-05-15 14:03] rizowski commented on #114
@lucasfolino You have both eslint and eslint-watch installed globally? Or is one global and the other local? Or both local? How do you have them set up?

[2017-05-15 14:21] lucasfolino commented on #114
I installed them both globally.

[2017-05-15 16:09] rizowski commented on #114
I'm not able to reproduce this on my machine. Can you look at `C:\Users\%USERNAME%\AppData\Roaming\npm` and see if there is an `eslint.cmd` file?

[2017-05-15 16:49] lucasfolino commented on #114
Yes there is.  I have no issues running eslint.  Any way I can manually change the path in a config file somewhere?

[2017-05-15 16:53] lucasfolino commented on #114
I am noticing the path:
ENOENT: no such file or directory, access 'C:\Users\%USERNAME%\node_modules\.bin\eslint.cmd'  Is incorrect.  Shouldn't it be pointing to the :\Users\%USERNAME%\AppData\Roaming\npm folder?

[2017-05-15 17:00] rizowski commented on #114
There isn't.
Yes, it should be. It's strange that it is looking there. I have two separate Windows machines that run it just fine. This is the logic for finding eslint's path https://github.com/rizowski/eslint-watch/blob/master/src/settings.js#L14

[2017-05-15 17:04] rizowski commented on #114
Are you running this through Powershell?

[2017-05-15 17:10] lucasfolino commented on #114
Yes.  I also tried it on normal cmd.exe cause I know that PS can cause issues with node sometimes.  I just tried removing and adding through cmd.exe as well incase some environment variable causes issues.  Still same issue.

[2017-05-25 21:18] rizowski commented on #114
@lucasfolino Have you found anything new about this issue?

[2017-05-26 13:04] lucasfolino commented on #114
No I have not.  I want to try this on a different machine, and in the WSL Ubuntu environment.  If it works there I would consider that a usable workaround.

[2017-06-08 14:05] lucasfolino commented on #114
I am closing this since it seems to only happen on one machine.

[2017-06-08 14:05] #114 closed

[2017-06-12 00:50] jannisg opened #115 "Watch mode returns `undefined` after initial run"
### Environment

  - Node Version: `7.10.0`
  - Eslint-Watch Version: `3.1.0`
  - Eslint Version: `3.19.0`

### Basic Description of the problem

When running the command, the first full run will correctly bring up any errors and start watching for file changes, however once a file is changed, the change is recognised (see debug output attached) but the linter only returns `undefined` and never re

[2017-06-12 16:19] rizowski commented on #115
@jannisg Thanks for posting this. I'll take a look at it.

[2017-06-14 10:42] davestewart opened #119 "Intermittent errors"
### Environment

  - Node Version: 6.11.0
  - Eslint-Watch Version: 3.1.0
  - Eslint Version: 3.19.0

### Basic Description of the problem

I run your plugin , but when I save a file, I get the following error, intermittently (1 out of every 2 saves) :

[code]
### How to reproduce it

  1. Command: `esw client/* -w --ext .js --ext .vue --quiet`
  2. Save file
  3. Watch crashes

### More info

Sin

[2017-06-14 15:25] rizowski commented on #119
@davestewart Thanks for posting this but unfortunately I don't have enough information to debug this issue. Please provide the information detailed in the [Issue Template](https://github.com/rizowski/eslint-watch/blob/master/.github/ISSUE_TEMPLATE.md).

[2017-06-14 16:18] davestewart commented on #119
I've updated the original ticket :)

[2017-06-14 16:32] rizowski commented on #119
@davestewart There could be some defensive coding done around the simple-detail-formatter so that way this error isn't what is displayed. But I am wondering if this issue is related to #115. Either way, I am glad it is working for you now. :) I'll keep this issue in mind as I make the fixes for #115

[2017-06-14 16:44] davestewart opened #120 "Is the plugin linting only one file when it changes?"
### Environment

  - Node Version: 6.11.0
  - Eslint-Watch Version: 3.1.0
  - Eslint Version: 3.19.0

### Basic Description of the problem

I noticed when running your plugin, that if I have two files with errors, but save only one of them, that the linter outputs errors for both.

I very briefly looked into your source, and it looks like chokidar should be passing changed files only to your `lint

[2017-06-14 16:54] rizowski commented on #120
Depending on your argument string, eslint-watch with the `--watch` flag will report all errors and warnings on the initial execution. After saving a file, depending on if you have `--changed` enabled, it will either lint a single file (`--changed`) or lint all files in the directory path you passed esw. (defaults to `./`) This line is the key to that functionality [watcher#110](https://github.com/

[2017-06-14 17:21] davestewart commented on #120
Ahh, great!

That being the case, and in lieu of me reading the f.ing docs, might I make a couple of suggestions for the readme?

It would be cool if you broke out the `options` options into sections, perhaps for watch, linting, and debugging, or your plugin vs ESLint.

Also, perhaps a couple of common use cases. It took me a while this morning to work out I needed `--watch` and you just told me I

[2017-06-15 15:56] rizowski commented on #120
I am closing this issue. If you want to create a PR with the document changes you suggested above, you are more than welcome.

[2017-06-15 15:56] #120 closed

[2017-06-16 21:27] brokentone opened #122 "Unresponsive in certain situations"
### Environment

  - Node Version: 6.10.3
  - Eslint-Watch Version: 3.1.2
  - Eslint Version: 3.7.0

### Basic Description of the problem

Watch feels very unresponsive when eslint is running. Linting is unpredictable due to keybindings.

### How to reproduce it

  1. Command: `esw --watch --ext .js --ext .jsx .`
  2. hit the return key 3x
  3. ctrl+c
  4. ... nothing for 3x the run of eslint (whi

[2017-06-19 13:01] davestewart commented on #120
OK, thanks :)

[2017-06-19 15:34] brokentone opened #125 "Oddly tracking exit code"
### Environment

  - Node Version: 6.10.3
  - Eslint-Watch Version: 3.1.2
  - Eslint Version: 3.7.0

### Basic Description of the problem

One of the features of this tool seems to be recording the last exit code from  a full run and replaying that on the process exit: (https://github.com/rizowski/eslint-watch/blob/master/src/index.js#L25)

However, this is current inconsistent and I would argue e

[2017-06-19 17:44] rizowski commented on #122
@brokentone thanks for submitting this. I won't be able to review this or your PRs for a couple of days. But once I get back to an area that I have consistent internet I'll be sure to review these and get back to you on them.

[2017-07-06 16:50] rizowski commented on #125
I am fine with changing this feature.

At the time it made sense to relay the last exit code of a previous run. In terms of the exit code representing whether or not the watch command failed is also an acceptable alternative.

[2017-07-07 04:59] dajbd commented on #114
the same issue happend with me.

      throw new Error('Eslint needs to be installed globally or locally in node_
modules.');
            ^
Error: Eslint needs to be installed globally or locally in node_modules.
    at loadEslintPath (C:\Users\user\AppData\Roaming\npm\node_modules\eslint-w
atch\src\settings.js:24:13)

I found
C:\Users\user\AppData\Roaming\npm\node_modules\eslint-watch\src\setting

[2017-07-07 09:27] dajbd commented on #114
/src/setting.js
maybe a better way to get eslintPath:
excute command:
[code]

[2017-07-27 21:16] chriserwin opened #128 "ESLint Default Formatter Don't Work During Watch"
### Environment

  - Node Version: 6.11.1
  - Eslint-Watch Version: 3.1.2
  - Eslint Version: 4.3.0

### Basic Description of the problem
When trying to use one of the default ESLint formatters while using the watch (`-w`) option, an error is returned even though the formatter appears to work.

![image](https://user-images.githubusercontent.com/51482/28692426-7e0f9010-72ee-11e7-873e-2b9d195011a5.p

[2017-08-17 12:04] vukan71 commented on #119
Hi,

I have same issue:
using:  `esw --quiet --watch .`

on first run everything is ok, and after second change in file I get following error:

C:\...\node_modules\eslint-watch\src\formatters\simple-detail.js:29
  results.forEach(function (result) {
          ^
TypeError: Cannot read property 'length' of undefined
    at C:\...\node_modules\eslint-watch\src\formatters\simple-detail.js:33:10
    at

[2017-08-28 07:02] lucastobrazil opened #129 "Is it possible to trigger something on error?"
Hey there,
Love this project! the setup was smooth and easy :)

This is more of a question rather than an issue... I'd like to have the ability to make my terminal 'beep' if there is an error while watching. Is it possible to hook into ESW to trigger `beep()` for instance (from this project: https://github.com/feross/beepbeep)?

Cheers,
Lucas

[2017-08-28 16:06] rizowski commented on #129
As is, there isn't a way to currently do this.  Do you have any ideas on how this could be accomplished?

[2017-08-31 14:16] lucastobrazil commented on #129
@rizowski I know for running eslint in a gulp task you can usually pipe in other functions (or use gulp-notify https://github.com/mikaelbr/gulp-notify) - is there any kind of callbacks that could be hooked into with eslint-watch?

[2017-10-07 10:10] jeremejevs commented on #95
@rizowski I'm observing this too:

[code]

Sometimes it triggers twice, sometimes once, no way to predict. This happens if I `esw --watch src`. If I do `esw --watch src/index.js` instead, then the problem goes away. There are no other files in `src`. This is on Windows, latest everything.

[2017-10-13 12:10] legraphista opened #130 "TypeError: Cannot read property 'length' of undefined"
### Environment

  - Node Version: 6.10.0
  - Eslint-Watch Version: 3.1.2
  - Eslint Version: 4.8.0

### Basic Description of the problem
Start the watcher, shows error, fix & save the file, the process breaks.

### How to reproduce it

  1. Command: `node_modules/eslint/bin/eslint.js ./ --quiet`
[code]
  2. Command: `./node_modules/eslint-watch/bin/esw ./ -w --quiet`
[code]

### Debug output:

I'

[2017-10-13 12:17] legraphista commented on #130
Looks like messages is undefined for the first file instead of being an empty array:
[code]

And it breaks here: https://github.com/rizowski/eslint-watch/blob/master/src/formatters/simple-detail.js#L33

[2017-10-13 12:25] legraphista commented on #130
Looks like it only happens if --quiet flag is set, which makes me think that the issue is here:
https://github.com/rizowski/eslint-watch/blob/ceeef5558df670ea6483ee265c3780cfeb2d665d/src/watcher.js#L31-L42

[2017-10-13 12:38] legraphista commented on #130
The problem looks to be here: https://github.com/rizowski/eslint-watch/blob/ceeef5558df670ea6483ee265c3780cfeb2d665d/src/watcher.js#L35

`lodash.find` returns an object (or undefined), not an array:
![image](https://user-images.githubusercontent.com/962643/31546556-7c2b7d92-b02c-11e7-9c4b-253587b712a0.png)

A simple fix is to replace the `_.find` with `result.messages.filter`

I'll open a PR with

[2017-10-13 15:00] rizowski commented on #130
@legraphista Nice attention to detail on this issue. Thanks for the PR. I'm a little busy at the moment but I will try to get this in before the end of the day.

[2017-10-13 20:56] #130 closed

[2017-10-16 15:21] rizowski commented on #129
Whoops sorry for such a late response. No there isn't a way. This project was meant to just provide a way to have a file watch for eslint. It doesn't provide much more than what the CLI can offer.

[2017-10-16 15:21] #129 closed

[2017-10-16 15:22] rizowski commented on #128
@chriserwin Has this been solved with the latest release? I wrote some integration tests to ensure that the CLI can find eslint's table formatter.

[2017-10-16 15:23] rizowski commented on #119
This should be fixed in the latest release.

[2017-10-16 15:23] #119 closed

[2017-10-16 15:23] rizowski commented on #115
@jannisg is this still occurring with the latest release?

[2018-02-21 16:47] HsuTing opened #134 "Not watch in docker"
### Environment

  - Node Version: 9.4.0
  - Eslint-Watch Version: 3.1.3
  - Eslint Version: 4.17.0

### Basic Description of the problem
Does not watch when using in `node` image of `docker`.

### How to reproduce it

  1. Command: `esw ./ --cache --ext .js -w --color`

### Debug output:

[code]

[2018-02-21 16:53] rizowski commented on #134
@HsuTing I need the debug output. What is the base OS is this running on?

[2018-02-21 17:27] HsuTing commented on #134
@rizowski  I added the debug output in description.
I do not sure OS. I just use `node:latest` in `docker`. I saw the Dockerfile of `node:latest`, and I think OS is `debian:jessie`.

[2018-02-21 17:42] rizowski commented on #134
What is the steps to reproduce this? Are you editing files from a volume or inside the container directly?

[2018-02-21 17:42] HsuTing commented on #134
Inside the container directly.

[2018-02-21 17:46] HsuTing commented on #134
Oh, I use `docker` in `win 10`. Do this impact the `watch`?

[2018-02-21 17:47] rizowski commented on #134
Technically it shouldn't matter that docker is on windows. Because you are running everything inside the container and not using a volume. So it should be isolated.

[2018-02-21 17:50] HsuTing commented on #134
I know. I just want to give more detail to you.

[2018-02-21 18:19] rizowski commented on #134
This is what I am using to test the problem. I copied over the files from `tests/integration/test-files` and modify one of these files to try to trigger the file changed event. I wasn't able to get it to fire.

[code]

[2018-02-22 05:15] HsuTing commented on #134
I use another way to test.
1. `docker run -it node:latest /bin/bash`
2. `git clone <eslint-watch repo>`
3. `apt update` and `apt install -y vim`
4. `npm i -g eslint eslint-watch`
5. Copy `tests` and `package.json` to new folder, and run `npm i` in new folder.
6. `esw ./ --cache --ext .js -w --color`
7. Open a new `CMD` and run `docker exec -it <container id> bash`.
8. Edit files in `tests`.

This

[2018-03-28 09:52] RonanQuigley opened #135 "exitCode variable in process.on('exit') will cause program to crash on windows"
### Environment

  - Node Version: 9.7.1
  - Eslint-Watch Version: 3.1.3
  - Eslint Version: 4.19.1

### Basic Description of the problem

On windows, the following line in your index file causes npm to throw an error in the command line when quitting eslint-watch with ctrl + c:

[code]
The exitCode variable is what is crashing it. By removing it altogether, the issue is gone:

[code]

### How to

[2018-03-28 15:31] rizowski commented on #135
@RonanQuigley Can you post the eslint-watch debug information by setting the environment variable `DEBUG` to `esw:*` and rerunning the command. There must be something else going on here. Commenting out those lines would mean you won't get the right exit code if linting fails. You are also running this on a node version that isn't actively tested on.

[2018-03-28 17:20] RonanQuigley commented on #135
Okay, I used cross-env instead to get it working and the output is as follows:

[code]

[2018-03-28 18:29] RonanQuigley commented on #135
Actually, scrap what I just said, I just realised I left the fix on whilst running the debug option. This is it with the fix removed:

[code]

[2018-03-28 18:45] rizowski commented on #135
Thanks for the details. It looks like it ran correctly. So just to be clear what are you expecting to happen V.S. what is happening?

I am running a build that is including node 9 for linux and Windows to see if any of the tests fail.

[2018-03-28 21:26] RonanQuigley commented on #135
Basically everything runs fine when eslint-watch is ran. The only issue that arises is when you quit the program via ctrl + c in the terminal. So for whatever reason, the program crashes when you utilise that exitCode variable on the 'exit' event. Remove it and it works fine.

It's odd as I've used variables inside process.on('exit') before and they've never crashed node. So unsure what's what.

[2018-03-28 21:33] rizowski commented on #135
This issues might be what you are seeing. #125 It isn't crashing every time if lint doesn't detect issues does it? For example,
  - Run eslint-watch with `--watch` and have it report a clean project on the first run.
  - `CTRL + C`

Does it still crash?

[2018-03-28 21:46] #128 closed

[2018-03-29 08:07] RonanQuigley commented on #135
Yes that is the issue; the errors have now gone. I take it this is by design then?

[2018-03-29 08:23] RonanQuigley commented on #135
So I also ran the watcher with an already existing linting error, removed the linting error, but the program still exits with what looks like a crash.

It seems to me like that issue you referenced is still present, though that proposed solution I think would be confusing. When your code exits with an npm life cycle error, it makes me think that there is something wrong with the actual program as

[2018-03-29 13:17] rizowski commented on #135
At least in watch mode, the exit code isn't as big of a deal to report due to it being a longer running process and running multiple actions. Given that, if the watch flag was passed I could just always return and exit code of 0.

Eslint-watch needs to return a non 0 exit code if `--watch` isn't passed and if errors are detected so that way CI or chained commands (`esw && mocha`) appropriately exi

[2018-03-30 07:48] RonanQuigley commented on #135
Ah yeah, I see where you're coming from with that. So I'm just using the module in watch mode, so am unsure about the other option.

For me it just boils down to a formatting issue; if both scenarios had final logging that didn't look like a typical node stack trace, then that would make it much clearer as to what's actually going on. Whilst you consider options, I'll stick with using my fork for

[2018-04-02 07:22] Maxim-Filimonov opened #136 "No formatter option"
### Environment

  - Node Version: 9.9.0
  - Eslint-Watch Version: "2.1.11",
  - Eslint Version: "2.9.0"

### Basic Description of the problem
When used with tools which try to parse eslint errors the tools don't work anymore. Example of such tool [eslint-stylish problem matcher](https://code.visualstudio.com/Docs/editor/tasks#_processing-task-output-with-problem-matchers) from vscode.

Thinking o

[2018-04-02 13:36] rizowski commented on #136
Hey @Maxim-Filimonov I want to ask what benefit you get by using eslint-watch through VS-Code vs just using eslint? Second question, have you tried using the latest version of eslint-watch?

Eslint-watch was meant to be used independently of any tool and most commonly as a cli. That is partially due to it needing to  run eslint twice in order to run  correctly. So if it was being used in gulp or i

[2018-04-03 02:54] Maxim-Filimonov commented on #136
Hey @rizowski - here is my use case:
When running package.json scripts in vscode you can set it up to automatically parse any eslint errors and put them in problems section of the ide. Normal eslint integration in VSCode only lints files that you have open not the whole project.
I have a setup with `npm start` launching my tests, server, and esw at the same time something like:
`start: npm-run-all

[2018-04-17 00:00] XuYan opened #137 "esw --watch throws EPERM on Windows"
### Environment

  - Node Version: v9.4.0
  - Eslint-Watch Version: v4.19.1
  - Eslint Version: v4.19.1

### Basic Description of the problem
Run eslint-watch on a single file on Windows throws an EPERM exception

### How to reproduce it
1. Command: `esw --watch client/errors.js`

### Debug output:

[code]

[2018-04-17 23:34] XuYan commented on #137
Thank you for your reply, rizowski!
Just checked, the same exception is thrown on latest node v9.11.1 as well :(

[2018-05-18 15:01] Tenemo opened #138 "Doesn't track file changes with --ext js,jsx"
### Environment

  - Node Version: 10.1.0
  - Eslint-Watch Version: 3.1.4
  - Eslint Version: 4.19.1

### Basic description of the problem

`esw -w` doesn't react to file changes when run with `--ext js,jsx` parameter. Initial linting works OK, it's just that changes don't trigger another lint. Without the --ext option it watches files correctly - without tracking .jsx files, though. It only affec

[2018-05-18 15:44] rizowski commented on #138
Thanks for posting this detailed issue. I am currently moving so it might take me a few days to get to look at this. I am open to reviewing pull requests if you happen to find a solution before I do. 😄

[2018-05-22 19:17] Nfinley commented on #138
Per @Tenemo issue, I am also encountering the same thing. Thanks @rizowski for taking a look. Love this library.

[2018-07-05 15:40] chill5018 commented on #138
Any progress on this @rizowski ?

[2018-07-05 21:03] #138 closed

[2018-07-05 21:10] rizowski commented on #138
This should be fixed in V4.0.1

[2018-07-27 17:14] #134 closed

[2018-08-01 14:44] crinitic opened #145 "esw results are doubled/shown twice"
### Environment

  - Node Version: 10.7.0 (x64) on Windows 10
  - Eslint-Watch Version: 4.0.2
  - Eslint Version: 5.2.0

### Basic Description of the problem
Results are shown properly at startup (only once), but for every file change, they are shown twice.

### How to reproduce it

  1. In package.json / scripts: "lint:watch": "esw --watch src scripts"
  2. In Powershell: npm run lint:watch

###

[2018-08-22 10:43] pklaes commented on #114
Same problem here. Seems like it is looking in local, not in global. File eslint.cmd actually is in C:\Users\pk\AppData\Roaming\npm

Environment:
node v8.11.2
npm 5.6.0
eslint 5.4.0 (in global)
eslint-watch@4.0.2 (in global)

Debug-Output (in Powershell, same in cmd)
PS D:\tfs\IMSware\Mobile\IMS.IMSWARE.HelpDesk\APP.HelpDesk> $env:DEBUG="esw:*"
PS D:\tfs\IMSware\Mobile\IMS.IMSWARE.HelpDesk\APP.Hel

[2018-11-09 15:07] vzaidman commented on #145
i see this too

[2018-11-30 21:46] rizowski commented on #145
@vzaidman @crinitic Do you guys have anything else running like Prettier that may be formatting on save?

[2018-12-02 19:41] rizowski commented on #145
Probably, another option would be to turn on polling with Chokidar.

[2018-12-16 03:19] mdshoeb01 commented on #107
Similar kind of issue i am facing, It runs only on first call.
Then it says
/usr/local/lib/node_modules/eslint/lib/util/module-resolver.js:72
            throw new Error(`Cannot find module '${name}'`);
                  ^
Error: Cannot find module 'eslint-config-airbnb-base'
Referenced from: /home/shoeb/Documents/shoeb/mountblue/06-mohammed-webapplication/.eslintrc.js

any help would be highly ap

[2018-12-23 20:37] simison opened #147 "Option to not print "clean" message; only errors"
When running the linter, would be wonderful to hide "clean" messages and leave only error messages:

<img src="https://user-images.githubusercontent.com/87168/50387380-06afed80-0703-11e9-8760-42967bbca9b6.png" alt="" width="350"/>

I'm running:
[code]

I actually expected `--quiet` not to print the success message. :-)

But it obviously is meant to output it:
https://github.com/rizowski/eslint-wat

[2018-12-24 03:40] rizowski commented on #147
Could I interest you in `--clear`? While it won't stop showing the clean message, it will clear your terminal for every run. I think this is a valid issue, I'll be sure to include it in the next release.

[2019-03-05 17:56] #147 closed

[2019-03-05 19:07] rizowski commented on #137
@XuYan Is this still an issue? I noticed that it was being ran in the Windows linux subsystem. Which microsoft has recently changed quite a bit around file system permissions by passing along metadata on mount.

[2019-03-05 19:09] rizowski commented on #107
@yedidyak @fwoelffel @mdshoeb01 Can one of you test in V5 of eslint-watch if this is still a concern. I've changed how esw ends up trying to find eslint.

[2019-03-05 19:12] rizowski commented on #145
Closing this issue since there is an alternative solution using Chokidar through environment variables. `CHOKIDAR_USEPOLLING=1`

[2019-03-05 19:12] #145 closed

[2019-03-05 19:15] rizowski commented on #135
@RonanQuigley I've recently released V5 of esw. I ended up change how exit codes are passed around. Could you check to see if this is still an issue?

[2019-03-05 19:18] rizowski commented on #136
@Maxim-Filimonov I've rewritten esw in V5. One of the breaking changes is removing all of the custom formatters esw used by default. So now when using esw you will see the standard eslint output with the exception of a clean message. Let me know if this change resolves your issue.

[2019-03-05 19:19] rizowski commented on #115
Closing due to lack of response from the original author.

[2019-03-05 19:19] #115 closed

[2019-03-05 19:23] rizowski commented on #122
This has not been addressed in V5 but it should be an easy addition.

[2019-03-05 19:50] rizowski commented on #80
@coryhouse @brokentone or anyone else that may have run into this issue. I tried testing V5 on a previous version of React Slingshot to see if I could still reproduce the issue. Upgrading to esw@V5 made the issue go away. Although I've noticed that React Slingshot has since moved onto concurrently which does not seem to produce the problem. Sorry it took so long, but it should be fixed now in V5.

[2019-03-05 19:50] #80 closed

[2019-03-05 23:25] coryhouse commented on #80
Great to hear! Thanks for the fix and followup @rizowski!

[2019-03-09 04:47] mdshoeb01 commented on #107
@rizowski The project which i was working is completed.
Now, when i tried to test it with older version of eslint-watch, It worked, So probably it might be the issue with other dependent packages or their versions.
Btw i can see that you have removed colors in latest version, but they were good.

[2019-03-11 23:44] Ameobea opened #150 "Changing branches on git triggers dozens of concurrent `eslint` processes to be created"
### Environment

  - Node Version: 10.15.0
  - Eslint-Watch Version: `^5.0.1`
  - Eslint Version: 5.15.1

### Basic Description of the problem

Whenever operations that create many file changes such as a `bit checkout` or `git pull` occur while `eslint-watch` is running, `eslint-watch` triggers dozens of concurrent `eslint` processes to be created for what I assume is each of the individual file c

[2019-03-13 03:28] rizowski commented on #150
@Ameobea Thanks for posting this. Seems to be related to: #145 . Although I believe this is a bigger issue. I think part of the issue is that since the watcher now executes a child_process of eslint executable and no longer uses Eslint's API, that ESW has started to take more resources than in previous versions.

Debounce will work for me for this case.

[2019-03-23 06:25] Maxim-Filimonov commented on #136
👍 it's all working code with the latest version.

[2019-03-23 06:25] #136 closed

[2019-03-26 09:40] HsuTing opened #152 "Hope to have more comfortable information."
### Environment

  - Node Version: v11.12.0
  - Eslint-Watch Version: v5.0.1
  - Eslint Version: v5.15.3

### Basic Description of the problem
Hope to have more comfortable information.

### How to reproduce it

  1. Command: `esw`

### Debug output:

[code]

In `watch` and `quiet`, we can not get any information when the `eslint` has done.
Can we ignore this `quiet` in `watch mode` in [Here](http

[2019-04-11 22:56] dennismphil opened #153 "npm audit high priority warning"
### Environment

  - Node Version: `v11.13.0`
  - Eslint-Watch Version: `v5.0.1`
  - Eslint Version: `v5.15.3`

### Basic Description of the problem

Due to a dependency npm audit is showing a high priority warning using this package.

[code]

### How to reproduce it

  1. Command: `npm i eslint-watch`
  2. `npm audit`

[2019-04-20 16:20] amourzenkov-sc opened #154 "Error parsing '--rule' CLI option"
### Environment

  - Node Version: 10.15.3
  - Eslint-Watch Version: 5.0.1
  - Eslint Version: 5.16.0

### Basic Description of the problem

Erroneous handling of CLI `--rule` option.

### How to reproduce it

Command: `npx esw --rule 'indent: [2, tab]' src`

Output:

[code]

### Details

After some **eslint-watch** debugging I figured out that the command

[code]

triggers **eslint-watch**'s **sr

[2019-04-23 15:00] rizowski commented on #152
@HsuTing What would you recommend? Some people want the clean message to be removed on `--quiet`. Maybe an additional flag? `--esw-quiet`?

[2019-04-23 15:01] rizowski commented on #154
This should have been fixed with #151 but I can verify. (Has not been released yet.)

[2019-04-23 15:20] rizowski commented on #125
Closing for now, but if this is still an issue I am willing to reopen it to discuss.

[2019-04-23 15:20] #125 closed

[2019-04-23 15:21] rizowski commented on #135
Closing this for now. If this is still an issue I am willing to reopen to discuss.

[2019-04-23 15:21] #135 closed

[2019-04-23 15:22] rizowski commented on #137
Closing this for now. If this is still an issue I am willing to reopen to discuss.

[2019-04-23 15:22] #137 closed

[2019-04-23 15:26] rizowski commented on #150
#156 will have debounce included. I'll try to get a release out this week.

[2019-04-23 18:46] #153 closed

[2019-04-24 01:42] HsuTing commented on #152
I think `--esw-quiet` is Ok, or maybe we can use like this:

[code]

I think most of user use `eslint-watch` in watch mode will want to should a message when `eslint` has done.

[2019-04-24 18:40] #150 closed

[2019-04-26 16:31] rizowski commented on #154
This should be fixed with v5.1.0

[2019-04-26 16:31] #154 closed

[2019-04-26 16:37] rizowski commented on #153
Fixed with v5.1.0

[2019-04-26 16:37] rizowski commented on #150
This should be fixed with v5.1.0

[2019-04-26 16:38] rizowski commented on #145
This should be fixed with v5.1.0

[2019-04-26 21:35] aedryan opened #158 "Missing Module"
### Environment

  - Node Version: 10.14.2
  - Eslint-Watch Version: 5.1.0
  - Eslint Version: 5.16.0

### Basic Description of the problem

When running eslint watch I get an error about a missing module:
[code]
I believe [this dev dependency](https://github.com/rizowski/eslint-watch/blame/master/package.json#L108) needs to be in dependencies.

### How to reproduce it

  1. Command: `esw path/to/

[2019-04-26 21:55] rizowski commented on #158
I'll have a fix out shortly. I immediately published out a fix but I think something went wrong with the publish for v5.1.1. v5.1.2 will be the corrected version.

[2019-04-26 22:03] rizowski commented on #158
v5.1.2 is now published. This should now be fixed. Sorry for the inconvenience.

[2019-04-26 22:03] #158 closed

[2019-04-26 22:04] aedryan commented on #158
Thanks for the quick fix!

[2019-05-24 18:50] bobwhitelock opened #160 "Running `esw --changed -w` causes non-JS files to attempt to be linted"
### Environment

  - Node Version: `v8.15.0`
  - Eslint-Watch Version: current `master` branch
  - Eslint Version: `v5.16.0`

### Basic Description of the problem

Running `esw --changed -w` causes non-JS files to attempt to be linted.

We noticed this after upgrading from `eslint-watch` v3 to v5; this command was working as expected (only detecting/linting JS code in a repo when run in a repo con

[2019-05-24 19:58] rizowski commented on #160
Looks like I did forget a piece when moving to 5.

https://github.com/rizowski/eslint-watch/blob/3a789d2bb9e5ebe0047577902eb24e977782386f/src/watcher.js#L143-L147

[2019-05-24 20:06] bobwhitelock commented on #160
Ah right, thanks for the quick response!

[2019-06-07 15:09] #160 closed

[2019-07-17 15:13] rizowski commented on #160
This has been released with esw@6.0.0

[2019-07-17 15:41] bobwhitelock commented on #160
Amazing, thanks!

[2019-07-30 00:42] robchristian opened #163 "`--clear --color -w` causes duplicated output"
### Environment

  - node version: 10.15.1
  - Eslint-Watch Version: ^6.0.0
  - Eslint Version: ^5.15.1

### Basic Description of the problem

My team runs eslint with color output. Upon switching to eslint-watch, color was gone (we have an `.eslintrc.json`, I would expect esw to not change the behavior of eslint output). Upon adding `--color` and `--clear` (because obviously we want the terminal

[2019-07-30 20:38] rizowski commented on #163
🤔 Huh I'll have to look into that when I get a chance. I agree with you, it shouldn't remove color when running through esw. It also shouldn't be duplicating errors.

[2019-07-31 20:51] robchristian commented on #163
Thanks.

Also,
- iTerm2 Build 3.2.9
- macOS Mojave 10.14.5

[2019-08-19 20:34] rumanbsl commented on #163
for me simply using --color -w reproduces the issue

[2019-08-28 12:43] tdeo commented on #163
I've been running into a similar issue and I figured our by running `esw` with `DEBUG=esw:*` that this was in fact caused by using simultaneously `--cache` and `-w`:
[code]
I fixed it by changing my eslint-watch command to `esw --cache -w --color src/`  instead of `esw --cache -w --color .`

[2019-09-20 20:37] #163 closed

[2020-04-05 19:22] luanlucho commented on #147
Hi,

I will be great if you could provide a flag to silence the success messages.

Hope you can add this feature soon.

[2020-04-05 20:34] rizowski commented on #147
@luanlucho I did make it respect the `--quiet` flag. Does that not suffice?

[2020-04-05 20:49] luanlucho commented on #147
I don’t think it is.

It will be nice to have flag that will just silence the success messages, but keeps the warnings and errors intact.

Hope that sounds like a good idea to you.

From: Colten Rouska <notifications@github.com>
Reply to: rizowski/eslint-watch <reply@reply.github.com>
Date: Sunday, 5 April 2020 at 3:35 pm
To: rizowski/eslint-watch <eslint-watch@noreply.github.com>
Cc: luanlucho <l

[2020-12-17 16:42] strowk opened #169 "Returns different result from eslint"
### Environment

  - Node Version: v12.19.0
  - Eslint-Watch Version: Eslint-Watch: v7.0.0
  - Eslint Version: v7.15.0

### Basic Description of the problem

If I run `eslint  ./src --ext .js --ext .ts --ext .tsx`, it gives output
[code]

but esw says "Clean"
[code]

### How to reproduce it

  1. Command: `esw -w  ./src --ext .js --ext .ts --ext .tsx`
  2. should give same output as `eslint  ./src

[2020-12-17 16:52] rizowski commented on #169
This is by design. There have been suggestions for turning it off. What is your use case?

[2020-12-17 17:03] #169 closed

[2021-03-21 09:56] JohnnyFun opened #170 "Slowness, maybe because it's not just linting an individual file? not sure"
### Environment

  - Node Version: 15.11.0
  - Eslint-Watch Version: 7.0.0
  - Eslint Version: 7.0.0

### Basic Description of the problem
If I watch a single file with `npx esw -w --clear src\app.js`, it responds relatively quickly.

But if I watch an entire directory, it's pretty slow. `npx esw -w --clear src --ext .js,.svelte`

If it helps, webpack's eslint-loader in watch mode is immediate whe

[2021-03-21 18:42] JohnnyFun commented on #170
I just needed to use `--cache --cache-strategy content` and was faster.

[2021-03-21 18:42] #170 closed

[2021-06-29 04:16] grinsteindavid opened #175 "Watch mode does print to the console"
### Environment

  - Node Version: 12
  - Eslint-Watch Version: 7
  - Eslint Version: 7
  - vs code
  - osx

### Basic Description of the problem

When im running esw in watch mode, it runs just once and then every change to the file does not update the terminal ouput, only if I press ENTER key then it updates the terminal

### How to reproduce it

  "lint_unit_test:watch": "esw \"src/**/*.unit.te

[2021-06-29 15:33] rizowski commented on #175
Hey thanks for posting this. Before I recommend anything could you post the debug logs?

[2021-07-16 15:48] rizowski commented on #175
Closing due to inactivity. If you are still experiencing problems you can reopen the issue.

[2021-07-16 15:48] #175 closed

[2021-11-02 12:43] gabor-at-reed opened #177 "ESLint 8 support"
### Environment

  - Node Version: 16.x LTS
  - Eslint-Watch Version: 7.0
  - Eslint Version: 8.1

### Basic Description of the problem

Any plans to add support to ESLint 8.x? Currently, it doesn't work with any newer versions of ESLint. 8.1 is the stable version now and 7 is deprecated.

Cheers!

[2021-11-02 13:47] rizowski commented on #177
Hey thanks for posting. Yeah I'll see if I can get a new version out today, if not this weekend.

[2021-11-08 05:39] rizowski commented on #177
This has been resolved in the latest 8.0.0 version

[2021-11-08 05:39] #177 closed

[2022-03-12 05:15] mattalexx opened #180 ""The --print-config option must be used with exactly one file name.""
### Environment

  - Node Version:
  - Eslint-Watch Version:
  - Eslint Version:
[code]

### Basic Description of the problem

### How to reproduce it

  1. Command: `esw --print-config src/index.ts`
  2. I expect to get a listing of the configuration data, but I get this error.

### Debug output:

[code]

[code]

[2022-04-13 12:46] sarink opened #182 "Nothing happens"
### Environment

  - Node Version: 17.3.1
  - Eslint-Watch Version: 8.0.0
  - Eslint Version: 8.13.0

### Basic Description of the problem

### How to reproduce it

  1. Command: `./node_modules/.bin/esw --help`
  2. Nothing happens

### Debug output:

[code]

[2022-04-13 13:10] rizowski commented on #180
Can you try adding `--ext ts` to your command and let me know the output?

[2022-04-13 13:13] rizowski commented on #182
Where is eslint installed? Local node_modules or globally? This error is saying it doesn't exist in either location. Also note you are running a limited supported node version for Esling-Watch. In the past I've found bugs like this occur and resolve before LTS.

[2022-04-13 18:15] sarink commented on #182
`./node_modules/.bin/eslint` exists and is what I was thinking this package would use

[2022-04-13 20:30] rizowski commented on #182
It should look in your project node_modules and then global. Can you try invoking esw within the context of npx, package.json scripts or yarn?

[2022-05-07 17:52] lmcsu commented on #175
I have the same issue.
And also it doesn't lint "ts" files at all, but eslint by itself works great.
I have typescript-eslint installed like the issue author has, maybe it's the reason.

Eslint-Watch: v8.0.0
Eslint: v8.14.0

[2022-06-09 18:42] 10hendersonm opened #183 "`ENOENT` of `eslint` causes a silent exit rather than an expected error message to install `eslint`"
### Environment

  - Node Version: 16.13.0 & 14.17.1
  - Eslint-Watch Version: 7.0.0 & 8.0.0
  - Eslint Version:

### Basic Description of the problem

When `eslint` is missing, `eslint-watch` exits with no message.

The solution is to re-install `eslint`, as hinted at by an error message located in the source. However, this error message is not being emitted and instead the program silently exits